<h1>Module 1</h1>
<!-- <app-login></app-login> -->

<nav>
  <ul>
    <li><a routerLink="/mod/login" routerLinkActive="active">login</a></li>
    <li><a routerLink="/mod/register" routerLinkActive="active">register</a></li>
   
  </ul>
</nav>
<router-outlet></router-outlet>

<h1>Module 2</h1>

<nav>
  <ul>
    <li><a routerLink="mod1/logout" routerLinkActive="active">logout</a></li>
    <li><a routerLink="mod1/signout" routerLinkActive="active">signout</a></li>
   
  </ul>
</nav>
<router-outlet></router-outlet>
